/* src/components/Timer.css */
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #000;
  color: yellow;
}

.timer-buttons {
  display: flex;
  margin-top: 20px;
}

.timer-buttons button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.timer-buttons button:hover {
  background-color: darkorange;
}

@media (max-width: 600px) {
  .timer-buttons {
    flex-direction: column;
  }

  .timer-buttons button {
    margin: 10px 0;
  }
}
